:root {
  --font-arvo: "Arvo", serif;
  --font-lato: "Lato", sans-serif;
  --color-black: #000000;
  --color-light-black: #232323;
  --color-gray: #c4c4c4;
  --color-dark-gray: #404040;
  --color-white: #ffffff;
  --color-orange: #ff7a00;
  --color-green: #4cd71d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-black);
}

.header {
  padding: 25px 25px 0 0;
  text-align: right;
}
@media (min-width: 768px) {
  .header {
    padding: 60px 70px 75px 0;
  }
}
@media (min-width: 1600px) {
  .header {
    padding: 125px 120px 149px 0;
  }
}

.header__logo {
  width: 132px;
  height: 22px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 183px;
    height: 29px;
  }
}
@media (min-width: 1600px) {
  .header__logo {
    width: 408px;
    height: 65px;
  }
}

/*-------final-header--------*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 16px 0 16px;
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
    padding: 0 70px 0 70px;
  }
}
@media (min-width: 1600px) {
  .main {
    padding: 0 120px 0 57px;
  }
}

.main__title {
  display: grid;
  font-weight: bold;
  font-size: 36px;
  color: var(--color-white);
  font-family: var(--font-arvo);
}
@media (min-width: 768px) {
  .main__title {
    font-size: 48px;
  }
}
@media (min-width: 1600px) {
  .main__title {
    font-size: 96px;
  }
}

.main__title-palabra-naranja {
  color: var(--color-orange);
}

.main__imagen {
  width: 304px;
  height: 282px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main__imagen {
    width: 263px;
    height: 244px;
    margin: 0;
  }
}
@media (min-width: 1600px) {
  .main__imagen {
    width: 847px;
    height: 788px;
    margin: 0;
  }
}

/*-------final-main--------*/

.section-search {
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-search {
    padding: 70px 70px 0 70px;
  }
}
@media (min-width: 1600px) {
  .section-search {
    flex-direction: row;
    padding: 50px 120px 0 120px;
    align-items: flex-end;
  }
}

.section-search__cont {
}
@media (min-width: 768px) {
  .section-search__cont {
    width: 624px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .section-search__cont {
    width: 808px;
    margin: 0;
  }
}

.section-search__title {
  color: var(--color-white);
  font-family: var(--font-lato);
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 768px) {
  .section-search__title {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .section-search__title {
    font-size: 48px;
    margin: 0 0 24px 0;
  }
}

.section-search__form {
  margin-bottom: 11px;
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-light-black);
}
@media (min-width: 768px) {
  .section-search__form {
    margin-bottom: 24px;
    height: 48px;
  }
}
@media (min-width: 1600px) {
  .section-search__form {
    height: 64px;
    margin: 0;
  }
}

.section-search__form-input {
  margin: 0 16px;
  flex: 1;
  font-size: 16px;
  color: var(--color-gray);
  border: none;
  outline: none;
  background-color: var(--color-light-black);
}
@media (min-width: 768px) {
  .section-search__form-input {
    margin: 0 22px;
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  .section-search__form-input {
    font-size: 30px;
  }
}

.section-search__form-button {
  width: 40px;
  height: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--color-orange);
}
@media (min-width: 768px) {
  .section-search__form-button {
    width: 48px;
  }
}
@media (min-width: 1600px) {
  .section-search__form-button {
    width: 64px;
  }
}

.section-search__form-button-lupa {
  width: 22px;
  height: 22px;
}
@media (min-width: 768px) {
  .section-search__form-button-lupa {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 1600px) {
  .section-search__form-button-lupa {
    width: 32px;
    height: 32px;
  }
}

.section-search__resultado {
  display: none;
  /* display: flex; */
  width: 100%;
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-black);
}
@media (min-width: 768px) {
  .section-search__resultado {
    height: 48px;
    width: 624px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado {
    height: 64px;
    width: 808px;
    margin: 0 0 0 64px;
  }
}

.section-search__resultado-moneda {
  margin-left: 12px;
  font-size: 18px;
  color: var(--color-white);
  font-family: var(--font-lato);
}
@media (min-width: 768px) {
  .section-search__resultado-moneda {
    margin-left: 22px;
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado-moneda {
    font-size: 36px;
  }
}

.section-search__resultado-moneda-nombre {
  display: none;
  margin-left: 8px;
  font-size: 14px;
  color: var(--color-white);
  font-family: var(--font-lato);
}
@media (min-width: 768px) {
  .section-search__resultado-moneda-nombre {
    display: flex;
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado-moneda-nombre {
    font-size: 28px;
  }
}

.section-search__resultado-precio {
  font-size: 14px;
  color: var(--color-green);
  font-family: var(--font-lato);
}
@media (min-width: 768px) {
  .section-search__resultado-precio {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado-precio {
    font-size: 30px;
  }
}

.section-search__resultado-button {
  width: 72px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 900;
  color: var(--color-black);
  cursor: pointer;
  background-color: var(--color-orange);
}
@media (min-width: 768px) {
  .section-search__resultado-button {
    width: 96px;
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado-button {
    width: 125px;
    font-size: 27px;
  }
}

.section-search__resultado-button-vector {
  width: 12px;
  height: 12px;
}
@media (min-width: 768px) {
  .section-search__resultado-button-vector {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 1600px) {
  .section-search__resultado-button-vector {
    width: 24px;
    height: 24px;
  }
}

/*-------final-section-search--------*/

.section-cards {
  padding: 48px 16px 48px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .section-cards {
    padding: 80px 70px 90px 70px;
  }
}
@media (min-width: 1600px) {
  .section-cards {
    padding: 88px 120px 150px 120px;
  }
}
